<script type="module" src="/src/main.js"></script>

<script type="module" src="src/customjs/admin.js"></script>
<script type="module" src="src/customjs/car.js"></script>
<script src="/packages/jquery.min.js"></script>
<script src="/packages/jquery-migrate-3.0.1.min.js"></script>
<script src="/packages/popper.min.js"></script>
<script src="/packages/bootstrap.min.js"></script>
<script src="/packages/jquery.easing.1.3.js"></script>
<script src="/packages/jquery.waypoints.min.js"></script>
<script src="/packages/jquery.stellar.min.js"></script>
<script src="/packages/owl.carousel.min.js"></script>
<script src="/packages/jquery.magnific-popup.min.js"></script>
<script src="/packages/aos.js"></script>
<script src="/packages/jquery.animateNumber.min.js"></script>
<script src="/packages/bootstrap-datepicker.js"></script>
<script src="/packages/jquery.timepicker.min.js"></script>
<script src="/packages/scrollax.min.js"></script>